{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "alias": {
                    "@": "./",
                    "@components": "./client/components",
                    "@pages":"./client/pages",
                    "@config": "./server/config",
                    "@controllers": "./server/controllers",
                    "@routes": "./server/routes"
                }
            }
        ]
    ]
}